<section class="angled-section">
  <div class="angled-div1">
    <img class="motifs motif-bottom no-user-select" src="pictures/motifs/motif-divider.png" alt="motif-divider-img">

    <div>
      <h2>Sanat ve Doğanın Adresi</h2>
      <p>Koleksiyonumuzda bulunan bütün ikonik parçalar yüksek kaliteli ağaç ve metalden imal edilmiş olup,
        ilhamının kaynağını doğaya ve sanata borçlu olan tasarımcı ve zanaatkarlarımızın çabaları ile hizmetinize sunulmuştur.</p>
      <a class="link-contact" href="#"><button type="button" name="button">Bize Yazın</button></a>
    </div>

    <img class="motifs motif-bottom no-user-select" src="pictures/motifs/motif-divider.png" alt="motif-divider-img">
  </div>

  <div class="angled-div2">
  </div>

  <div class="angled-div3">
  </div>
</section>
