<footer>
  <div class="footer-r1">
    <div class="footer-r1c1">
      <div>
        <h3><a class="hover-underline-animation link-collection" href="#">Koleksiyon</a></h3>
      </div

      ><div>
        <h3><a class="hover-underline-animation link-store" href="#">Mağaza</a></h3>
      </div>
    </div

    ><div class="footer-r1c2">
        <a class="link-index" href="#"><img class="logo-img" src="pictures/logos/logo.png" alt="logo-img"></a>
    </div>
  </div>

  <div class="footer-responsive-container">
    <div class="footer-r2">
      <p>2021 Armlines</p>
    </div>

    <div class="footer-r3">
      <a class="link-contact" href="#"><button type="button" name="button">İrtibata Geçelim</button></a>
      <p>+905543656941</p>
    </div>

    <div class="footer-r4">
      <div class="nav-r3c1 footer-social-media">
        <a class="link-linkedin" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/linkedin.png" alt="linkedin-img"></a>
        <a class="link-facebook" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/facebook.png" alt="facebook-img"></a>
        <a class="link-twitter" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/twitter.png" alt="twitter-img"></a>
        <a class="link-instagram" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/instagram.png" alt="instagram-img"></a>
      </div

      ><div class="nav-r3c2 footer-paragraph-container">
        <p><a class="link-designer" href="#">Website by CODEcygen</a></p>
      </div>
    </div>
  </div>
</footer>
