<head>
  <meta charset="utf-8">

  <!-- SEO -->
  <meta name="Masa" content="Masa Ayağı , Sandalye, Masa, .">

  <!-- WEBSITE TITLE -->
  <title>Armlines</title>

  <!-- RESPONSIVE WEBSITE META TAG -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS FILES LINK -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/collection.css">
  <link rel="stylesheet" href="/css/store.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/so_header.css">
  <link rel="stylesheet" href="/css/so_landing.css">
  <link rel="stylesheet" href="/css/so_image-gallery.css">
  <link rel="stylesheet" href="/css/so_angled-section.css">
  <link rel="stylesheet" href="/css/so_product-info.css">
  <link rel="stylesheet" href="/css/so_footer.css">
  <link rel="stylesheet" href="/css/success.css">

  <!-- GOOGLE FONTS LINK -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Enriqueta&family=Spectral:wght@200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">

  <!-- FAVICON LINK -->
  <link rel="icon" type="image/png" href="pictures/logos/favicon.png" />

  <!-- FONT AWESOME LINK -->
  <script src="https://kit.fontawesome.com/159d9adc3c.js" crossorigin="anonymous"></script>

</head>
