<header>
  <div class="header-r1">
    <a class="link-linkedin" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/linkedin.png" alt="linkedin-img"></a>
    <a class="link-facebook" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/facebook.png" alt="facebook-img"></a>
    <a class="link-twitter" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/twitter.png" alt="twitter-img"></a>
    <a class="link-instagram" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/instagram.png" alt="instagram-img"></a>
  </div>

  <div class="header-r2">
    <div class="header-r2c1">
      <a class="link-index" href="#"><img class="logo-img" src="pictures/logos/logo.png" alt="logo-img"></a>
    </div

    ><div class="header-r2c2">
      <h3><a class="hover-underline-animation link-collection" href="#">Koleksiyon</a></h3>
    </div

    ><div class="header-r2c3">
      <div class="nav-btn">
        <p>&#9776</p
        ><p>Menü</p>
      </div>
    </div>
  </div>

</header>

<nav>
  <div class="nav-r1">
    <div class="nav-r1c1">
      <a class="link-index" href="#"><img class="logo-img" src="pictures/logos/logo.png" alt="logo-img"></a>
    </div

    ><div class="nav-r1c2">
      <div class="nav-btn">
        <p>&#9776</p
        ><p>Kapat</p>
      </div>
    </div>
  </div>

  <div class="nav-r2">
      <img class="motifs motif-top" src="pictures/motifs/motif-divider.png" alt="motif-divider-img">
      <h1><a class="hover-underline-animation link-index" href="#">Merhaba</a></h1>
      <h1><a class="hover-underline-animation link-collection" href="#">Koleksiyon</h1>
      <h1><a class="hover-underline-animation link-store" href="#">Mağaza</a></h1>
      <h1><a class="hover-underline-animation link-contact" href="#">Konuşalım</a></h1>
      <img class="motifs motif-bottom" src="pictures/motifs/motif-divider.png" alt="motif-divider-img">
  </div>

  <div class="nav-r3">
    <div class="nav-r3c1">
      <a class="link-linkedin" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/linkedin.png" alt="linkedin-img"></a>
      <a class="link-facebook" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/facebook.png" alt="facebook-img"></a>
      <a class="link-twitter" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/twitter.png" alt="twitter-img"></a>
      <a class="link-instagram" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/instagram.png" alt="instagram-img"></a>
    </div

    ><div class="nav-r3c2">
      <p>2021 Armlines</p>
    </div>
  </div>
</nav>
