<section class="image-gallery-section no-user-select">
  <div class="img-r1">
  </div>

  <div class="img-r2">
    <p id="arrow-left">&#10170</p
    ><img src="/pictures/motifs/motif-divider.png" alt="no-motif"
    ><p id="arrow-right">&#10170</p>
  </div>
</section>



<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script id="image-gallery-js" src="/javascript/so_image-gallery.js"><%= productPhotoList %></script>
