<section class="landing-section">
  <div>
    <div class="landing-c1 no-user-select">
      <img id="landing-img" src="#" alt="head-img">
    </div

    ><div class="landing-c2">
      <h1 class="landing-h1">Doğayı ve Emeği Birleştirip Sanat Olarak Hizmetinize Sunduk</h1>
      <a class="link-collection" href="#"><button type="button" name="button">Koleksiyonumuz</button></a>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script id="landing-js" src="/javascript/so_landing.js"><%= productPhotoList %></script>
