.angled-section {
  position: relative;
  background-color: #f6f0ea;
  text-align: left;
}

.angled-div1 {
  padding: 5rem 0;
  width: 50%;
}

.angled-div1 > div {
  padding: 5rem 0;
}

.angled-div1 h2 {
  font-size: 1.75rem;
  text-align: center;
}

.angled-div1 p {
  padding: 2rem 0;
}

.angled-div2, .angled-div3 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.angled-div2 {
  background-color: black;
  clip-path:ellipse(25.05% 100% at 92% 50.05%);
}

.angled-div3 {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/pictures/wallpapers/angled-wallpaper.jpg");
  background-image: -o-linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/pictures/wallpapers/angled-wallpaper.jpg");
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/pictures/wallpapers/angled-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  clip-path:ellipse(25% 100% at 92% 50%);
}

@media(max-width: 650px) {

  .angled-section p {
    font-size: 1.05rem;
  }
}

@media(max-width: 550px) {

  .angled-section {
    text-align: center;
  }

  .angled-div1 {
    padding: 300px 0 5rem;
  }

  .angled-div1 {
    width: 100%;
  }

  .angled-div2 {
    display: none;
  }

  .angled-div3 {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 200px;
    width: 100%;
  }
}
