<!-- THIS SECTION IS FOR NAVIGATION BAR" -->
<%- include("../partials/so_head-tag.ejs") %>

<section>
  <div class="failure-div">
    <h1>&#10008</h1>
    <p>Sistemde bir hata oluştu.</p>
    <p>Lütfen <strong><em><a href="https://www.codecygen.com">CODEcygen</a></em></strong> ile irtibata geçiniz.</p>
    <p>İlginiz için teşekkür ederiz.</p>
    <form action="/failure" method="post">
      <button type="submit" name="failure-button">Anasayfa</button>
    </form>
  </div>

</section>


<!-- THIS SECTION IS FOR JAVASCRIPT FILES" -->
<%- include("../partials/so_javacript.ejs") %>
