<!DOCTYPE html>
<html lang="en" dir="ltr">

  <!-- THIS SECTION IS FOR <head> TAG -->
  <%- include("../partials/so_head-tag.ejs") %>

<body>

  <!-- THIS SECTION IS FOR NAVIGATION BAR -->
  <%- include("../partials/so_header.ejs") %>

  <section class="section-store">
    <div class="store-r1">
      <h1>Mağaza</h1>
    </div>

    <div class="store-r2">
      <div class="store-r2c1">
        <h2>Türkiye</h2>
        <p>Serhat Mahallesi 1363. Sokak No:30, 06378 İvedik OSB Yenimahalle Ankara</p>

        <h3><a class="hover-underline-animation link-contact" href="#">Konuşalım!</a></h3>

        <div class="nav-r3c1 no-user-select">
          <a class="link-linkedin" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/linkedin.png" alt="linkedin-img"></a>
          <a class="link-facebook" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/facebook.png" alt="facebook-img"></a>
          <a class="link-twitter" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/twitter.png" alt="twitter-img"></a>
          <a class="link-instagram" href="#"><img class="nav-social-icons" src="pictures/social-media-icons/instagram.png" alt="instagram-img"></a>
        </div>

        <img class="motifs motif-bottom no-user-select" src="pictures/motifs/motif-divider.png" alt="motif-divider-img">
      </div

      ><div class="store-r2c2">
        <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1JmSqafTUZHMBrkwD4gpV39dXJGqO21Ru" width="90%" height="400px"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- THIS SECTION IS FOR FOOTER BAR -->
  <%- include("../partials/so_footer.ejs") %>

  <!-- THIS SECTION IS FOR JAVASCRIPT FILES -->
  <%- include("../partials/so_javacript.ejs") %>

</body>

</html>
