<!-- THIS SECTION IS FOR NAVIGATION BAR" -->
<%- include("../partials/so_head-tag.ejs") %>

<section>
  <div class="success-div">
    <h1>&#10003</h1>
    <p>Mesajınız bize ulaştı.</p>
    <p>En kısa zamanda size döneceğiz.</p>
    <p>İlginiz için teşekkür ederiz.</p>
    <form action="/success" method="post">
      <button type="submit" name="success-button">Anasayfa</button>
    </form>
  </div>

</section>


<!-- THIS SECTION IS FOR JAVASCRIPT FILES" -->
<%- include("../partials/so_javacript.ejs") %>
